<StackLayout style="height: 900" backgroundColor="#ffffff">
    <AbsoluteLayout class="combined">
      <Label class="bg-patron"></Label>
      <Label class="circle large"></Label>
      <Label class="circle medium"></Label>
      <image src="res://logo_vital" class="logo-img"></image>
    </AbsoluteLayout>
    <TextField
    hint="Usuario"
    secure="false"
    returnKeyType="done"
    autocorrect="false"
    maxLength="10"
    style="font-size:24;"></TextField>
    <TextField
    hint="Contraseña"
    secure="true"
    returnKeyType="done"
    autocorrect="false"
    maxLength="10"
    style="font-size:24;"></TextField>
    <TextField
    hint="Contraseña"
    secure="true"
    returnKeyType="done"
    autocorrect="false"
    maxLength="10"
    style="font-size:24;"></TextField>
    <Label text="Datos medicos importantes" class="txt registerHere" horizontalAlignment="center"></Label>
    <FlexboxLayout backgroundColo="#000000" flexDirection="column">
      <label backgroundColor="#000000" height="70" width="70"></label>
      <label backgroundColor="#ffffff" height="70"></label>
      <label backgroundColor="#000000"></label>
      <label ></label>
      <label ></label>
      <label ></label>
    </FlexboxLayout>
    <Button class="btn btn-login" text="Guardar"></Button>
  </StackLayout>
