<StackLayout style="height: 900" backgroundColor="#ffffff">
  <AbsoluteLayout class="combined">
    <Label class="bg-patron"></Label>
    <Label class="circle large"></Label>
    <Label class="circle medium"></Label>
    <image src="res://logo_vital" class="logo-img"></image>
  </AbsoluteLayout>
  <TextField
  hint="Usuario"
  secure="false"
  returnKeyType="done"
  autocorrect="false"
  maxLength="10"
  style="font-size:24;"></TextField>
  <TextField
  hint="Contraseña"
  secure="true"
  returnKeyType="done"
  autocorrect="false"
  maxLength="10"
  style="font-size:24;"></TextField>
  <Button [nsRouterLink]="['/register']" class="btn btn-login" text="Ingresa"></Button>
  <Label text="¿Aún no tienes cuenta?" class="txt" horizontalAlignment="center"></Label>
  <label (tap)="onTap($event)" text="Regístrate aquí" class="txt registerHere" horizontalAlignment="center"></label>
</StackLayout>
